# Excluir arquivos de dados grandes (>100MB) para evitar erro no GitHub
dados/master_municipios.csv
dados/master_municipios_granulado.csv
dados/master_municipios_tratado.csv
dados/*.xlsx
dados/*.parquet

# Pasta de ambiente virtual
.venv/
__pycache__/
*.pyc
output_formats/

# Spark e Metadados Internos
spark-warehouse/
metastore_db/
derby.log
.ipynb_checkpoints/
backups/