# Excluir arquivos de dados grandes e artefatos locais
dados/cache/
dados/intermediarios/
dados/legado/
dados/saidas_finais/
dados/*.xlsx
dados/*.parquet
benchmarks_outputs/

# Pasta de ambiente virtual
.venv/
__pycache__/
*.pyc
# Spark e Metadados Internos
spark-warehouse/
metastore_db/
derby.log
.ipynb_checkpoints/
backups/
